:root {

/* Colors: */
    --grundfarbe-hellblau: #8ebbe5;
    --grundfarbe-dunkelblau: #02335E;
    --grundfarbe-gruen: #a1bf38;

    --bs-border-color: #a1bf38;
    --bs-border-width: 6px;

--text-color: #2B2B2B;
--grundfarbe-mittel: #8D8D8D;
--grundfarbe-halbhell: #ADADAD;
--grundfarbe-hell-schatten: #E5E5E5;
--grundfarbe-hell: #F3F3F3;
--primary-color: #8EC9CF;
/*    --text-color: #2B2B2B;
    --grundfarbe-mittel: #8D8D8D;
    --grundfarbe-halbhell: #ADADAD;
    --grundfarbe-hell-schatten: #E5E5E5;
    --grundfarbe-hell: #F3F3F3;
    --primary-color: #8EC9CF;
    */
    /*
    --secundary-color: #5B8284;
    --ss-primary-color: #5B8284;
    */
--secundary-color: #a1bf38;
--ss-primary-color: #E5539C;


/* Font/text values */
--primary-font-family: Haettenschweiler;
--secondary-font-family: dejavu_sansbook;
--secondary-font-bold: dejavu_sansbold;

    --bs-navbar-color: var(--grundfarbe-hellblau);
}

body, html {
  height: 100%;
  margin: 0px;
}

.div_hidden {
    display: none;
}

.navbar {
    background-color: var(--grundfarbe-hell);
    color: var(--grundfarbe-hellblau);
}
.navbar-toggler {
    color: var(--grundfarbe-hellblau);
}
.nav-link {
    font-size: 2em;
    color: var(--grundfarbe-hellblau);
    font-weight: bold;
}

.nav-link:hover {
    color: var(--grundfarbe-hellblau);
}

.navbar-nav .nav-link.active {
    color: var(--grundfarbe-hellblau);
}
.bgimg_1{
  background-image: url('../img/puzzlepieces.jpg');
  min-height: 100%;
}

.bgimg_2{
  background-image: url('../img/hands2.jpg');
  min-height: 800px;
}

.bgimg_3{
  background-image: url('../img/globe.jpg');
  min-height: 800px;
}

.bgimg_4{
  background-image: url('../img/roll2.jpg');
  min-height: 100%;
}

.bgimg_5{
    background-image: url('../img/hands.jpg');
    min-height: 800px;
}
.bgimg_6{
    background-image: url('../img/line.jpg');
    min-height: 800px;
}

.parallax {
  position: relative;


  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    border-top: 3px solid var(--bs-border-color);
    border-bottom: 3px solid var(--bs-border-color);
}

.caption_intro {
    opacity: 1;
    position: absolute;
    left: 0;
    top: 30%;
    width: 100%;
    text-align: center;
    color: var(--grundfarbe-gruen);
    padding: 20px;
}

.caption_intro div.border {
    background-color: var(--grundfarbe-hell);
    color: var(--grundfarbe-gruen);
    padding: 18px;
    font-size: 40px;
    letter-spacing: 10px;
    border-radius: 17px;
}

.caption{
    position: absolute;
    left: 0;
    top: 30%;
    width: 100%;
    text-align: center;
    color: #000;
    padding: 20px;
}


.caption div.border {
    background-color: var(--grundfarbe-hell);
    color: var(--grundfarbe-gruen);
    padding: 18px;
    font-size: 40px;
    letter-spacing: 10px;
    border-radius: 17px;
}

.capital{
	font-size: 60px;
	 color: var(--grundfarbe-hellblau);
	 font-weight: bold;
}

.capital_dark{
    font-size: 36px;
    color: var(--grundfarbe-gruen);
}

.dark_date{
    color: var(--grundfarbe-gruen);
    font-size: 20px;
    font-weight: bold;
}

@media all and (min-width: 0px) {
    .bgimg_1{
        min-height: 400px;
    }

    .bgimg_2{
        min-height: 150px;
    }

    .bgimg_3{
        min-height: 150px;
    }

    .bgimg_4{
        min-height: 400px;
    }

    .bgimg_5{
        min-height: 150px;
    }

    .bgimg_6{
        min-height: 250px;
    }

    .caption_intro {
        top: 10px;
    }
    .caption_intro div.border {
        font-size: 12px;
    }
    .caption {
        top: 20px;
    }
    .caption div.border {
        font-size: 12px;
    }
    .capital{
        font-size: 36px;
    }
    .capital_dark{
        font-size: 136x;
    }

    .nav-link {
        font-size: 1em;
    }
    .brand_image {
        height : 30px;
    }
}
@media all and (min-width: 576px) {
    .bgimg_1{
        min-height: 100%;
    }

    .bgimg_2{
        min-height: 300px;
    }

    .bgimg_3{
        min-height: 300px;
    }

    .bgimg_4{
        min-height: 100%;
    }

    .bgimg_5{
        min-height: 300px;
    }

    .bgimg_6{
        min-height: 300px;
    }

    .caption_intro {
        top: 30%;
    }

    .caption_intro div.border {
        font-size: 16px;
    }

    .caption {
        top: 30%;
    }
    .caption div.border {
        font-size: 16px;
    }
    .capital_dark {
        font-size: 45px;
    }
    .capital_dark{
        font-size: 36px;
    }
    .nav-link {
        font-size: 1.3em;
    }
    .brand_image {
        height : 40px;
    }
}
@media all and (min-width: 768px) {
    .caption_intro div.border {
        font-size: 30px;
    }
    .caption div.border {
        font-size: 30px;
    }
    .capital{
        font-size: 45px;
    }
    .capital_dark{
        font-size: 36px;
    }
    .nav-link {
        font-size: 1.5em;
    }
    .brand_image {
        height :50px;
    }
}
@media all and (min-width: 992px) {
    .caption_intro div.border {
        font-size: 32px;
    }
    .caption div.border {
        font-size: 32px;
    }
    .capital{
        font-size: 48px;
    }
    .capital_dark{
        font-size: 36px;
    }
    .nav-link {
        font-size: 1.8em;
    }
}
@media all and (min-width: 1200px) {
    .nav-link {
        font-size: 2em;
    }
}

.social_img{
	margin-left: 10px;
	width: 60px;
}
.association_img{
	height: 100px;
}
.event_img{
    max-width: 100%;
    max-height: 200px;
}

.country_flag {
	height: 1.5em;
	margin-right: 10px;
	margin-top: 0px;
	box-shadow: 10px 10px 30px grey;
	max-width: 100%;
}

.text-block{
	color: #777;
	background-color:white;
	text-align:center;
	padding:2em;
    background: var(--grundfarbe-hell) 0% 0% no-repeat padding-box;
}

.user_tile_frame {
    padding: 0 1em;
}

.user_frame {
    padding: 1em;
    margin-bottom: 20px;
    border-radius: 17px;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
    min-height: 250px;
}

.user-tile a {
        color: var(--text-color);
        text-decoration: none;
    }

.board-user-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    overflow: hidden;
    justify-items: center;
    padding: 1em;
}


#topBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-weight: bold;
    border: none;
    outline: none;
    color: white;
    color: #555;
    cursor: pointer;
    padding: 0px 15px;
    border-radius: 4px;
    width: 50px;
    height: 50px;
    line-height: 60px;
    transition: box-shadow .2s;
    background-color: var(--grundfarbe-hellblau);
}

#topBtn:hover {
    background-color: #555;
    color: var(--grundfarbe-hellblau);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

#topBtn span{
    display: block;
    transform: rotate(270deg);
    font-size: 22px;
}

#topBtn:active{
    background-color: #555;
    color: var(--grundfarbe-hellblau);
    box-shadow: none;
}

.document_table {
    width: 100%;
}

.login_logo{
    width: 36px;
    margin-left:5px;
    margin-top:15px;
}

.title-container {
    height: 164px;
    width: 100%;
    position: relative;
    margin-bottom: 20px;
}

.title-container img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 0;
    object-position: 70% 70%;
    opacity: 0.36;
}

/* Just styling the content of the div, the *magic* in the previous rules */
.title-container .caption {
    z-index: 1;
    position: relative;
    text-align: center;
    padding: 10px;
    top: 0;
}

.title-container-text {
    height: 164px;
    line-height: 164px;
}

.title-container-text h1{
    display: inline-block;
    vertical-align: middle;
}

.title-container-event {
    margin-bottom: 0px;
}

.largercheckbox input[type="radio"], .largercheckbox input[type=checkbox] {
    width: 20px;
    height: 20px;
    accent-color: var(--secundary-color);
}
.largercheckbox input[type="radio"] :checked, .largercheckbox input[type=checkbox] :checked {
    margin-left: 25px;
    border: 1px solid blue; }
.largercheckbox input[type=checkbox]:checked + label {
    font-weight: bold; }
.largercheckbox label {
    margin-left: 5px;
    margin-top: -10px; }

.table_icon, .table_button {
    width: 2em;
    height: 2em;
}
.table_img {
    width: 1.4em;
}

.table_button {
    cursor: pointer;
}

.full_container {
    width: 100%;
    padding-right: 2%;
    padding-left: 2%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
}

@media all and (min-width: 576px) {
    .modal-dialog {
        font-size: 1rem;
        max-width: 550px;
    }

    .modal-dialog-large {
        font-size: 1rem;
        max-width: 95%;
    }

    .modal-dialog-medium {
        margin-top: 3em;
        max-width: 475px;
    }

    .modal-dialog-small {
        max-width: 400px;
    }

    h1 {
        font-size: 60px;
        line-height: 64px;
    }
    .before-footer {
        width: 100%;
        height: 120px;
    }

}
@media all and (min-width: 768px) {
    .modal-dialog {
        max-width: 700px;
    }

    .modal-dialog-large {
        max-width: 95%;
    }

    .modal-dialog-medium {
        max-width: 550px;
    }

    .modal-dialog-small {
        max-width: 400px;
    }
    .before-footer {
        width: 100%;
        height: 100px;
    }
}
@media all and (min-width: 992px) {
    .modal-dialog {
        max-width: 850px;
    }

    .modal-dialog-large {
        max-width: 95%;
    }

    .modal-dialog-medium {
        max-width: 625px;
    }

    .modal-dialog-small {
        max-width: 400px;
    }
}
@media all and (min-width: 1200px) {
    .modal-dialog {
        max-width: 1100px;
    }

    .modal-dialog-large {
        max-width: 95%;
    }

    .modal-dialog-medium {
        max-width: 750px;
    }

    .modal-dialog-small {
        max-width: 400px;
    }
}

.block-titel {
    font-family: var(--secondary-font-bold);
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.6px;
    color: var(--secundary-color);
    border-bottom: solid;
    border-color: var(--secundary-color);
    margin-bottom: 5px;
}

.preview_image{
    height: 150px;
    width: auto;
    max-width: 100%;
}

.preview_image_btn{
    --bs-btn-padding-x: 0.175rem;
    --bs-btn-padding-y: 0;
    width: 80px;
}

.mail_image{
    height: 1.5em;
}

#overlay {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #fefefe;
    opacity: 0.7;
    z-index: 100000000;
    background: rgba(255, 255, 255, 0.8) url(../img/ajax-loader.gif) 50% 50% no-repeat;
}

#overlay_message {
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 40%;
    width: 100%;
}




